              /* settaggi iniziali */

*{
     margin: 0;
    padding: 0; 
}
              /* header modifiche */
header{
    background-color: rgba(78,160,255,255);
    background-image: url('/img/pattern.png');
    background-position: center;
    background-size: 400px;
    height: 100px;
}

header img{
    height: 50px;
    padding-top: 45px;
    padding-left: 5px;
}

         /* Main modifiche */

h1{
    font-size: 35px;
    margin-top: 15px;
}         

.details-photo{
    font-size: 14px;
    margin: 3px 0px 15px 0px;
}

.details-photo a{
    text-decoration: none;
}

.descrizione{
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.evidenziato{
    background-color: gold;
}
               /* lista */

.lista-lorem{
    margin-left: 20px;
    margin-bottom: 20px;
}

             /* tabella */

           

.table-data th{
background-color: rgba(32,169,229,255);
border-spacing: 10px;
}

table{
    border-collapse: collapse;
    border-spacing: 10px;
}
.table-light{
    background-color: rgba(177,229,242,255);
}

          /* footer */

.caption span {
    padding: 10px;
    color: white;
    position: absolute;
    left: 0;
}
.caption span strong {
    font-size: 20px;
}

footer h3{
    margin: 20px 20px 20px 0px;
    color: rgba(139,139,139,255);
    } 