              /* settaggi iniziali */

*{
     margin: 0;
    padding: 0; 
}
              /* header modifiche */
header{
    background-image: url('../img/pattern.png');
    background-color: rgba(78,160,255,255);
    background-position: center;
    background-size: 400px;
    height: 100px;
}

header img{
    height: 50px;
    padding-top: 45px;
    padding-left: 5px;
}

         /* Main modifiche */

h1{
    font-size: 35px;
    margin-top: 15px;
}         

.details-photo{
    font-size: 14px;
    margin: 3px 0px 15px 0px;
}

.details-photo a{
    text-decoration: none;
}

.descrizione{
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.evidenziato{
    background-color: gold;
    font-weight: 400;
}
               /* lista */

.lista-lorem{
    margin-left: 20px;
    margin-bottom: 20px;
}

             /* tabella */

           
.table-data th{
background-color: rgba(32,169,229,255);
color: white;
}

table{
    border-collapse: collapse;
    width: 100%;
}
.table-light{
    background-color: rgba(177,229,242,255);
}

td{
    width: 750px;
}

th{
    text-align: left;
}

.width-50{
width: 50%;
}

          /* footer */


footer h3{
    margin: 20px 20px 20px 0px;
    color: rgba(139,139,139,255);
} 

.container{
    background-image: url(../img/monitor.jpg);
    width: 310px;
    height: 180px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.container span {
    padding: 10px;
    color: white;
    font-size: 20px;
}
.container-2{
    background-image: url(../img/graph.jpg);
    width: 310px;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.container-2 span {
    padding: 10px;
    color: white;
    font-size: 20px;
}