              /* settaggi iniziali */

*{
    /* margin: 0;
    padding: 0; */
}
              /* header modifiche */
header{
    background-color: rgb(82, 82, 241);
    background-image: url('/img/pattern.png');
    background-position: center;
    background-size: 400px;
    height: 100px;
}

header img{
    height: 50px;
    padding-top: 45px;
    padding-left: 5px;
}